<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy Crops</title>
</head>
<body>
<div id="cropsTable" th:fragment="buyFormDiv">
    <table>
        <caption>Crop Shop</caption>
        <tr>
            <th>Crop Name</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Grow Time (Seconds)</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="crop : ${cropList}">
            <td th:text="${crop.cropName}"></td>
            <td th:text="${crop.seedPrice}"></td>
            <td th:text="${crop.cropSellPrice}"></td>
            <td th:text="${crop.cropGrowTime}"></td>
            <td>
                <form class="cropBuySellForm" th:action="@{/planting}" th:method="POST">
                    <input type="number" name="quantity" id="quantity" min="0" th:max="${farmer.maxBuyQuantity(crop)}">
                    <input type="hidden" name="farmerId" id="farmerId" th:value="${farmer.id}">
                    <input type="hidden" name="cropId" id="cropId" th:value="${crop.id}">
                    <input class="blueButton blueHover" type="submit" value="Buy">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>