<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
    <section class="comments" >
        <p class="infoLabel" th:text="'Comments'"></p>
        <ul th:each="comment : ${farmer.comments}">
            <li>
                <p class="commentBody" th:text="${comment.text}"></p>
                <p class="commentFrom" th:text="'&ndash; ' + ${comment.commenterName}"></p>
            </li>
        </ul>
    </section>
</body>
</html>