<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crops</title>
</head>
<body>
<div th:fragment="cropsTable" id="cropsTableDiv">
    <table>
        <caption>Crop Types, Growth Durations, and Prices</caption>
        <tr>
            <th>Name</th>
            <th>Grow Time</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
        </tr>
        <tr th:each="crop : ${cropList}">
            <td th:text="${crop.cropName}"></td>
            <td th:text="${crop.cropGrowTime} + ' seconds'"></td>
            <td th:text="${crop.seedPrice}"></td>
            <td th:text="${crop.cropSellPrice}"></td>
        </tr>
    </table>
</div>
</body>
</html>