<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantings</title>
</head>
<body>
    <table>
        <tr>
            <th>Crop</th>
            <th>Quantity</th>
            <th>Planted</th>
            <th>Time Remaining</th>
        </tr>
        <tr th:each="planting : ${farmercrops}">
            <td th:text="${planting.crop.cropName}"></td>
            <td th:text="${planting.quantity}"></td>
        </tr>
        <caption th:text="${farmer} + 's Crops'"></caption>
    </table>
</body>
</html>