<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantings</title>
</head>
<body>
    <table>
        <script th:src="@{../js/script.js}"></script>
        <tr>
            <th>Crop</th>
            <th>Quantity</th>
            <th>Planted</th>
            <th>Time Remaining</th>
        </tr>
        <tr th:each="planting : ${plantings}">
            <td th:text="${planting.crop.cropName}"></td>
            <td th:text="${planting.quantity}"></td>
            <td th:text="${planting.plantedAt}"></td>
            <td th:id="${planting.id} + 'sellTimer'"></td>
            <td>
                <form th:action="@{/planting}" th:method="PUT">
                    <input type ="number" name="quantity" min="0" th:max="${planting.quantity}">
                    <input type="hidden" th:value="${planting.id}" name="plantingId">
                    <input type="submit" th:id="${planting.id} + 'sellButton'" disabled>
                </form>
            </td>
            <script th:inline="javascript">
                id = [[${planting.id}]] + 'sellTimer';
                timeLeft = [[${planting.timeRemaining()}]]
                buttonid = [[${planting.id}]] + 'sellButton';
                changeTime(id, buttonid, timeLeft);
                //to do: button enable based on time remaining
            </script>
        </tr>
        <caption th:text="${farmer.getFullName()} + 's Crops'"></caption>
    </table>
</body>
</html>