<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
    <div id="friendsListDiv" th:fragment="friendsListDiv">
    <p class="infoLabel">Friends</p>
    <ul th:each="friendship : ${farmer.friends}">
        <li class="friendsList">
            <a class="friendLink" th:text="${friendship.friend.getDisplayName()}" th:href="'/' + ${friendship.friend.id}"></a>
        </li>
    </ul>
    </div>
</body>
</html>