<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<header th:fragment="header">
  <nav>
    <p class="fancy">Farm Fellows</p>
    <div th:if="${name}" class="navBlock">
      <a class="navButton greenHover" href="/">Your farm</a>
      <a class="navButton greenHover" href="/all-farmers">All farms</a>
      <a class="navButton redHover" href="/logout">Log Out</a>
    </div>
    <div th:if="!${name}" class="navBlock navButton">
    <p>Log in:</p>
    <a href="/oauth2/authorization/github"><img class="growHover" src="../img/github-logo.png" alt="Log in with GitHub"/></a>
    <a href="/oauth2/authorization/google"><img class="growHover" src="../img/google-logo.svg" alt="Log in with Google"/></a>
    </div>
  </nav>
</header>
</body>
</html>
