<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headfiles">
  <meta charset="UTF-8" />
  <link th:href="@{../css/styles.css}" rel="stylesheet">

<!--  <link rel="icon" type="image/png" href="../favicon.png" />-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
  <nav>
    <p th:if="${name}" th:text="'Hi, ' + ${name} + '!'"></p>
    <div class="navLoginBlock">
    <p th:if="!${name}">Log in:</p>
    <a th:if="!${name}" class="mainNavLink" href="/oauth2/authorization/github"><img src="../img/github-logo.png" alt="Log in with GitHub"/></a>
    <a th:if="!${name}" class="mainNavLink" href="/oauth2/authorization/google"><img src="../img/google-logo.svg" alt="Log in with Google"/></a>
    <a th:if="${name}" class="mainNavLink" href="/logout">Log Out</a>
    </div>
  </nav>
  <h1>Farm Fellows</h1>

</header>

<!--countdown timer-->
<div th:fragment="counter">
<div class="container">
  <h1 id="count">10</h1>
  <script th:inline="javascript">
  var counter = [10];
  setInterval( function(){
    counter--;

    if(counter >= 0){
    id = document.getElementById("count");
    id.innerHTML = counter;
    }
  }, 1000)
  </script>
</div>
</div>

<footer th:fragment="footer">
</footer>
</body>
</html>
