@import "reset.css";

/* Color Theme Swatches in Hex */
.blue1 { color: #3F83BF; }
.blue2 { color: #71A8D9; }
.green1 { color: #465902; }
.green2 { color: #B9BF04; }
.green3 { color: #A1A621; }

body {
    background-color: #A1A621;
    font-family: 'Archivo', sans-serif;
    color: #121700;
}

main {
    padding: 25px;
}

nav {
    background-color: #3F83BF;
    display: flex;
    justify-content:end;
    align-items: center;
}

h1 {
    color: #121700;
    /* text-shadow: 2px 2px #E63E17; */
    font-size: 5em;
    padding: 15px;
}

h2 {
    font-weight: bold;
    color: #121700;
    font-size: 3em;
    padding: 15px;
}

form {
    background-color: #71A8D9;
    border-radius: 0px 10px;
    color:#131d25;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

form * {
    display: block;
    margin: 5px 0px;
}

.mainNavLink {
    color: #131d25;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
}

.mainNavLink img {
    max-width: 25px;
}

/* #submitButton {
    height:38px;
    border: 1px solid #E6B02A !important;
    border-radius:5px;
}

#submitButton:hover, #submitButton:active, #submitButton:focus {
    border: 1px solid #E6B02A !important;
    box-shadow: 0 0 0 0.2rem #E6B02A !important;
} */

