@import "reset.css";

/* Color Theme Swatches in Hex */
.blue1 { color: #3F83BF; }
.blue2 { color: #71A8D9; }
.green1 { color: #465902; }
.green2 { color: #B9BF04; }
.green3 { color: #A1A621; }

body {
    background-color: #A1A621;
    font-family: 'Archivo', sans-serif;
    color: #121700;
}

main {
    padding: 25px;
    margin-bottom: 50px;
}

main > * {
    margin: 10px 5px;
}

footer {
    background-color:#582618;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color:#c5ddf1;
    font-weight: bold;
}

nav {
    background-color: #3F83BF;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 50px;
}

nav * {
    color: #131d25;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0px 5px;
    border-radius: 5px;
}

h1 {
    font-size: 5em;
    padding: 15px;
}

h2 {
    font-weight: bold;
    font-size: 3em;
    padding: 15px;
}

h3 {
    font-size: 1.5em;
    padding: 7px;
}

form {
    color: #131d25;
}

form * {
    display: block;
    margin: 5px 0px;
}

table {
    text-align: center;
}

table * {
    padding:3px;
}

table caption {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

table tr th {
    border-bottom: 2px solid #131d25;
    font-weight:bold;
    min-width: 125px;
}

table tr td {
    border-bottom: 1px solid #131d25;
}

select {
    width: 100%;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
}

input[type=number] {
    width: 75px;
}

.navButton {
    background-color: #c5ddf1;
    padding: 3px;
    margin: 3px;
}

.navBlock {
    display: flex;
    align-items: center;
}

.navBlock img {
    max-width: 25px;
}

.cropBuySellForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueButton {
    background-color: #3F83BF;
    margin: 0px 3px;
    padding: 3px;
    border: 1px solid #131d25;
}

.blueButton:disabled {
    background-color: #788ea2;
}

.blueButton:hover:disabled {
    background-color: #788ea2;
}

.blueHover:hover {
    background-color: #71A8D9;
}

.greenHover:hover {
    background-color: #A1A621;
}

.redHover:hover {
    background-color: #9D3C50 ;
}

/* https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.growHover { 
    transition: all .2s ease-in-out; 
    }
    
.growHover:hover { 
    transform: scale(1.1); 
    }

.tableDiv {
    padding: 10px 0px;
    margin: 10px;
    width: fit-content;
    border: 2px solid #131d25;
}

#footer-text {
    margin: auto;
    width: fit-content;
    margin-top: 20px;
}

#cropAdminForms {
    display: flex;
    flex-wrap: wrap;
}

#cropAdminForms > * {
    margin: 10px;
    padding: 10px;
}

#cropAdminForms form {
    min-width: 175px;
    background-color: #71A8D9;
    border: 2px solid #131d25;
}

#farmerCropsDiv {
    background-color: #cacf49;
}

#cropsTableDiv {
    background-color: #c5ddf1;
}

#cropsTable {
    background-color: #c5ddf1;
    padding: 10px 0px;
    margin: 10px;
    width: fit-content;
    border: 2px solid #131d25;
}
