<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: headfiles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main>
    <div  class="farmer-home">

    <h2 th:text="${otherFarmer.getDisplayName()} + '\'s Farm'"></h2>
    <h3 th:text="'Farm Value: ' + ${otherFarmer.totalFarmValue()}"></h3>

    <div class="info">
            <div class="farm-info tableDiv farmerCropsDiv">
            <table>
                <caption th:text="${otherFarmer.getDisplayName()} + '\'s crops'"></caption>
                <tr>
                    <th>Crop</th>
                    <th>Quantity</th>
                    <th>Planted</th>
                </tr>
                <tr th:each="planting : ${otherFarmer.crops}">
                    <td th:text="${planting.crop.cropName}"></td>
                    <td th:text="${planting.quantity}"></td>
                    <td th:text="${#temporals.format(planting.plantedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </table>
        </div>
        <div class="farmer-info">

            <section class="comments" >
                <p class="infoLabel" th:text="'Comments'"></p>
                <ul th:each="comment : ${otherFarmer.comments}">
                    <li>
                        <p class="commentBody" th:text="${comment.text}"></p>
                        <p class="commentFrom" th:text="'&ndash; ' + ${comment.commenterName}"></p>
                    </li>
                </ul>
            </section>
            <form th:unless="${!farmer.isFriend(otherFarmer)}" th:action="'/'+ ${otherFarmer.id} + '/addcomment'" method="POST">
                <textarea name="text"></textarea>
                <input type="hidden"th:value="${farmer.id}" name="farmerId">
                <input class="blueButton blueHover" type="submit" value="Submit Comment">
            </form>
            <form th:if="${!farmer.isFriend(otherFarmer)}" th:action="'/'+ ${otherFarmer.id} + '/addfriend'" method="POST">
                <input type="hidden" th:value="${farmer.id}" name="farmerId">
                <input class="blueButton blueHover" type="submit" value="Add Friend">
            </form>
        </div>
    </div>
    </div>



</main>

</body>
</html>