<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: headfiles">
    <title>Farm Fellows</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"></header>
    <section th:if="${farmer}" id="farmer-home">
        <h2 th:text="${farmer.getFullName()}"></h2>
        <h3 th:text="'Money: ' + ${farmer.getCashOnHand()}"></h3>
        <table th:insert="fragments/crops.html :: table"></table>
        <section id="buy-sell">
            <table th:insert="fragments/farmer-crops.html :: table"></table>
            <table th:insert="fragments/buy-form.html :: table"></table>
        </section>
        <div th:if="${farmer.isAdmin()}" th:insert="fragments/crop-admin.html :: div"></div>
    </section>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>